@use "../../../styles.scss" as *;

.button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  width: 20px;
  @include button();
  background-color: white;

  img {
    width: 18px;
    max-width: 18px;
  }

  span {
    @include span();
  }

  &:hover {
    span {
      opacity: 1;
    }
  }
}
